.tabrow {
  text-align: center;
  list-style: none;
  margin: 20px 0 20px;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
}

.tabrow li {
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 30px;
}

.tabrow a {
  color: #555;
  text-decoration: none;
}

.tabrow li.selected {
  background: #FFF;
  color: #333;
  z-index: 2;
  border-top-color: #FFF;
}

.tabrow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #AAA;
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  border: 1px solid #AAA;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabrow li:before {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ECECEC;
}

.tabrow li:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ECECEC;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #FFF;
}

.tabrow li.selected:after {
  box-shadow: -2px 0px 0 #FFF;
}
